//- Theme Color Options
- const Theme = 'red';

//- For SEO Optimization required
- const siteTitle = 'Andiforms';
- const siteDescription = 'Andiforms Jquery Form Plugin';
- const siteKeywords = 'forms,andiforms,semantic-ui,fomantic-ui,semantic,jquery,javascript,autocomplete,validation,TemplateMonster,css,pug,sass';
- const siteAuthor = 'Partitect';
- const siteRobots = 'noindex,nofollow';
- const siteUrl = 'https://andiamo.netlify.app/';
- const siteLanguage = 'en'

//- Copyright
- const siteCopyright = '1 December 2020 partitect.info';

//- Logo Url
- const siteLogoUrl = 'assets/img/logo.svg';

//- Favicons
- const siteFavicon = 'assets/img/favicon/favicon.svg';

//- Address Bar Color
- const siteThemeColor = '#ffffff';
