include ./includes/_menu
.ui.center.aligned.container
	.ui.icon.menu.borderless.nav-menu
		a.toc.item
			i.sidebar.icon
		a.item.text-item(href="index.html")
			h1 Shoeman
		a.toc.item.toggle-sidebar
			i.icon.big.iconfont.icon-xitongcaidan
		.centered.menu
			each menu1 in menu
				a.item.link-item(href=""+menu1.link+"") #{menu1.text}
		.right.menu
			.item
				a.circular.ui.icon.button
					i.icon.search
			.item
				a.circular.ui.icon.button
					i.icon.shop
