// Sidebar Menu
include ./includes/_menu
.ui.vertical.sidebar.menu.side-menu
	a.item(href="index.html")
		h1 AndiForms
	each menu1 in menu
		if (menu1.child.length == 0)
			a.item(href=""+menu1.link+"") #{menu1.text}

