-
    var menu = {
        'Men': {
            text: "Men",
            link: "index.html",
            icon: "icon-ziyuan118",
            child: []
        },
        'Women': {
            text: "Futures",
            link: "#futures",
            icon: "icon-ziyuan118",
            child: []
        },
        'Kids': {
            text: "Kids",
            link: "#futures",
            icon: "icon-ziyuan118",
            child: []
        },
        'Customize': {
            text: "Customize",
            link: "#demos",
            icon: "icon-ziyuan118",
            child: []
        },
        'Favorites': {
            text: "Favorites",
            link: "#demos",
            icon: "icon-ziyuan118",
            child: []
        }
    };
