-
    var menu = {
        'Home': {
            text: "Home",
            link: "index.html",
            icon: "icon-ziyuan118",
            child: []
        },
        'Futures': {
            text: "Futures",
            link: "#futures",
            icon: "icon-ziyuan118",
            child: []
        },
        'Demos': {
            text: "Demos",
            link: "#demos",
            icon: "icon-ziyuan118",
            child: []
        }
    };
