extends layouts/default
block pageVars
	- var page = "telatkaya";
	- var menuCrumb = "Pages";
	- var pageTitle = "Telat Kaya Personal Web";
block PageContent
	+grid("equal width")
		.stretched.row
			+column()
				.ui.segment
					.ui.form
						h4.ui.dividing.header Basic Text Input
						.field
							input(type='text' name='first-name' placeholder='First Name')
			+column()
				.ui.segment
					.ui.form
						h4.ui.dividing.header Shipping Information
						.two.fields
							.field
								input(type='text' name='shipping[first-name]' placeholder='First Name')
							.field
								input(type='text' name='shipping[last-name]' placeholder='Last Name')
	+grid("equal width")
		.stretched.row
			+column()
				.ui.segment
					.ui.form
						h4.ui.dividing.header Shipping Information
						.three.fields
							.field
								label First name
								input(type='text' placeholder='First Name')
							.field
								label Middle name
								input(type='text' placeholder='Middle Name')
							.field
								label Last name
								input(type='text' placeholder='Last Name')
			+column()
				.ui.segment
					.ui.form
						h4.ui.dividing.header Shipping Information
						.inline.fields
							.ten.wide.field
								label Name
								input(type='text' placeholder='First Name')
							.six.wide.field
								input(type='text' placeholder='Last Name')
	+grid("equal width")
		.stretched.row
			+column()
				.ui.segment
					.ui.form
						.field
							label Text
							textarea
			+column()
				.ui.segment
					.ui.form
						.field
							label Short Text
							textarea(rows='2')
block extraScripts

