extends layouts/default
block pageVars
	- var page = "telatkaya";
	- var menuCrumb = "Pages";
	- var pageTitle = "Telat Kaya Personal Web";
block PageContent
	include data/demos-data
	.page-wrapper
		h4.ui.horizontal.divider.inverted.header
			|   Futures
		+grid("two column")
			each value, index in preData
				+column()
					.ui.placeholder.segment.pre-segment
						h4=value.title
						svg.svg-icon.icon(aria-hidden='true')
							use(xlink:href='#icon-'+value.icon+'')
						p #{value.desc}
		h4.ui.horizontal.divider.inverted.header
			|   Demos
		+grid("three column")
			each value, index in demoData
				+column()
					.ui.segment.demos-segment
						.ui.header #{value.title}
						p #{value.desc}
						a.ui.primary.button(href=""+value.link+"") View Demo
block extraScripts

